@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Satoshi', ui-sans-serif, system-ui, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255); /* untuk dark mode */
}